<Project>
	<name xml:lang="en">xfce4-fsguard-plugin</name>
	<shortdesc xml:lang="en">Checks the free space of a given mountpoint</shortdesc>
	<homepage rdf:resource="http://goodies.xfce.org/projects/panel-plugins/xfce4-fsguard-plugin"/>
	<mailing-list rdf:resource="http://foo-projects.org/mailman/listinfo/xfce"/>
	<maintainer>
		<foaf:Person>
			<foaf:name>Florian Rivoal</foaf:name>
			<foaf:mbox>mailto:frivoal@xfce.org</foaf:mbox>
			<gnome:userid>frivoal</gnome:userid>
		</foaf:Person>
	</maintainer>
</Project>
